.about-company {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 83px;
  &__view {
    width: calc(~'50% - 25px');
    img {
      width: 100%;
      height: auto;
    }
  }
  &__description {
    position: relative;
    width: calc(~'50% - 25px');
    margin-top: -8px;
    h3 {
      margin: 0 0 25px 0;
      font-family: "SFUIText-Regular", sans-serif;
      font-size: 20px;
      color: #5c5a66;
      line-height: 1.45;
    }
  }
  &__content {
    font-family: "SFUIText-Light", sans-serif;
    font-size: 17px;
    color: #7c7a93;
    line-height: 1.45;
    p {
      margin: 0;
    }
    i {
      font-family: "SFUIText-Italic", sans-serif;
    }
  }
  &__img {
    position: absolute;
    bottom: -186px;
    right: -60px;
    z-index: 2;
  }
}

@media all and (min-width: 768px) and (max-width: 1180px) {

  .about-company-parent .sections-title h2 {
    font-size: 36px;
    margin-top: 20px;
  }

  .about-company__view {
    width: 100%;
  }

  .about-company__description {
    width: 100%;
    margin-top: 31px;
  }

  .about-company {
    margin-top: 15px;
    display:  block;
    padding-bottom: 53px;
  }

  .about-company__view img {
    border-bottom: 10px solid #e9e8ef;
  }

  .about-company__description h3 {
    font-size: 17px;
    margin: 0 0 26px 0;
  }

  .about-company__content {
    line-height: 1.75;
  }

  .about-company__content i {
    font-size: 14px;
  }

  .about-company__content i br {
    display:  none;
  }

  .about-company__img {
    width: 132px;
    right:  0;
    bottom: -90px;
  }
}

@media all and (max-width: 767px) {
  .about-company {
    flex-wrap: wrap;
    margin-top: 38px;
    padding-bottom: 36px;
    &__title {
      font-size: 23px;
      letter-spacing: 0.5px;
    }

    &__view {
      width: 100%;
      margin-bottom: 29px;
    }
    &__description {
      width: 100%;
      h3 {
        margin-bottom: 20px;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    &__content {
      font-size: 14px;
      line-height: 1.3;
    }
    &__img {
      display: none;
    }
  }
}