.advantages-item {
  h3 {
    margin: 0 0 64px 0;
    text-align: center;
  }
  &__action {
    margin-top: 46px;
    text-align: center;
    a {
      height: 22px;
      display: inline-block;
      font-family: "Comfortaa-Regular", sans-serif;
      color: #f29779;
      font-size: 20px;
      border-bottom: 1px solid #f29779;
      &:hover {
        border-color: transparent;
      }
    }
  }
}
