.advantages-nav {
  text-align: center;
  margin-bottom: -25px;
  z-index: 1;
  li {
    display: inline-block;
    &:last-child {
      margin-left: 37px;
      a {
        border: 1px solid #e9e8ef;
      }
    }
  }
  a {
    display: inline-block;
    padding: 15px 24px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #5c5a66;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 18px;
  }
  .active {
    a {
      background-color: #aba9c3;
      color: #ffffff;
    }
  }
}
