.basket {
  margin-top: 46px;
  padding-bottom: 132px;
  &__total-price {
    margin-top: 45px;
    font-family: "SFUIText-Regular", sans-serif;
    font-size: 18px;
    color: #5c5a66;
    text-align: right;
    p {
      display: inline-block;
      margin: 0 0 0 9px;
      font-size: 24px;
    }
  }
  &__actions {
    margin-top: 45px;
    text-align: right;
  }
  &__more {
    padding-right: 31px;
    padding-left: 39px;
    padding-bottom: 20px;
    border: 1px solid #fca689;
    background-color: transparent;
    font-size: 18px;
    color: #fca689;
    transition: box-shadow 0.2s ease-out 0s, background-color 0.4s ease-out 0s, color 0.4s ease-out 0s;
    &:hover {
      background-color: #fca689;
      color: #ffffff;
    }
  }

  &__buy {
    padding-top: 19px;
    margin-left: 20px;
    font-size: 18px;
  }
}
