.catalog-quick-view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__content {
    width: calc(~"50% - 25px");
  }
  h3 {
    padding: 0 0 24px 0;
    margin: -5px 0 0 0;
    border-bottom: 1px solid #dce6f0;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 30px;
    color: #5c5a66;
    line-height: 1.2;
    font-weight: normal;
  }

  &__price {
    margin: 23px 0 12px 0;
    font-family: "SFUIText-Regular", sans-serif;
    font-size: 24px;
    color: #5c5a66;
    font-weight: 500;
  }
  &__description {
    font-family: "SFUIText-Light", sans-serif;
    font-size: 14px;
    color: #9492a5;
    line-height: 1.4;
    p {
      margin: 0;
    }
  }
  &__form {
    margin-top: 22px;
    span {
      display: inline-block;
      margin-bottom: 8px;
      font-family: "SFUIText-Light", sans-serif;
      color: #8c8a9f;
      font-size: 16px;
    }
  }
  &__size {
    display: inline-block;
  }
  &__count {
    display: inline-block;
    margin-left: 20px;
  }

  &__actions {
    margin-top: 38px;
    text-align: left;
    user-select: none;
  }

  &__to-basket {
    //display: inline-block;
    padding: 19px 30px 18px 30px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #d78f78;
    outline: none;
  }
  &__like {
    display: inline-block;
    margin-left: 22px;
    vertical-align: middle;
    .icon-like {
      display: inline-block;
      &:before {
        width: 30px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #faa88c;
        padding: 19px 14px 14px 14px;
      }
    }
    &.active {
      .icon-like {
       &:before {
         content: "";
         background: url(../images/icons/catalog/icon-like-active.png) no-repeat center;
         width: 30px;
         height: 25px;
         background-size: contain;
         background-origin: content-box;
        }
      }
    }
  }

  &__more {
    display: inline-block;
    margin-top: 30px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 18px;
    color: #f29779;
    border-bottom: 1px solid #f29779;

    &:hover {
      border-color: transparent;
    }
  }

}
