.catalog-banner {
  width: 50%;
  text-align: center;
  position: relative;
  &:first-child {
    a {
      background: url(../images/catalog/bg-1.jpg) no-repeat center;
    }
  }
  &:last-child {
    a {
      background: url(../images/catalog/bg-2.jpg) no-repeat center;
    }
  }
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 0;
    padding: 14px 28px 13px 28px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 28px;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #7c7a93;
    text-decoration: underline;
  }
  a {
    display: block;
    width: 100%;
    height: 150px;
  }
}

@media all and (max-width: 767px) {
  .catalog-banner {
    width: calc(~'50% - 10px');
    a {
      height: 57px;
    }
    p {
      width: 100%;
      padding: 20px 10px 23px 10px;
      box-sizing: border-box;
      letter-spacing: 2px;
    }
    &:first-child {
      a {
        background: none;
      }
      p {
        background: #f3c4b9;
        color: #ffffff;
      }
    }

    &:last-child {
      a {
        background: none;
      }
      p {
        background: #b7b4d2;
        color: #ffffff;
      }
    }
    p {
      font-size: 13px;
    }
  }
}
