.catalog-card {
  width: 327px;
  margin: 0 25px 87px 25px;
  &__view {
    height: 298px;
    margin-bottom: 28px;
    border: 1px solid #dce6f0;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      margin: 0;
      max-width: 95%;
      max-height: 95%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
  &__quick-view {
    height: 100%;
    display: block;
    outline: none;
    &:hover {
      cursor: zoom-in;
    }
  }
  &__description {
    text-align: center;
    height: 38px;
    a {
      display: inline-block;
      font-family: "SFUIText-Regular", sans-serif;
      font-size: 17px;
      color: #5c5a66;
      outline: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__actions {
    margin-top: 26px;
    text-align: center;
    user-select: none;
  }
  &__like {
    display: inline-block;
    vertical-align: middle;
    .icon-like {
      display: inline-block;
      &:before {
        border-radius: 50%;
        border: 1px solid #faa88c;
        padding: 16px 11px 11px 11px;
      }
    }
    &.active {
      .icon-like {
        &:before {
          background: url(../images/icons/catalog/icon-like-active.png) no-repeat center;
          background-size: contain;
          background-origin: content-box;
        }
      }
    }
  }
  &__to-basket {
    padding: 17px 28px 13px 28px;
    margin-left: 21px;
    font-size: 16px;
  }
}

@media all and (min-width: 768px) and (max-width: 1180px) {
  .catalog-card {
    //width: calc(~'33.333% - 19px');
    width: 173px;
    margin: 0 15px 44px 15px;
  }

  .catalog-card__view {
    height: 157px;
    margin-bottom: 27px;
  }

  .catalog-card__view img {
    width: auto;
    height: auto;
  }

  .catalog-card__description a {
    font-size: 14px;
  }

  .catalog-card__actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .icon-like:before {
    width: 22px;
    height: 17px;
  }

  .catalog-card__to-basket {
    font-size: 14px;
    padding: 15px 21px 12px 21px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

}

@media all and (max-width: 767px) {
  .catalog-card {
    width: calc(~'50% - 20px');
    margin: 0 10px 37px 10px;;
    //margin-bottom: 37px;
    &__view {
      margin-bottom: 10px;
      height: 117px;
      cursor: default;
      img {
        max-width: 95%;
        max-height: 100%;
      }
    }
    &__quick-view {
      &:hover {
        cursor: default;
      }
    }
    &__description {
      a {
        height: 48px;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__actions {
      display: none;
    }
  }
}