.catalog {
  padding-bottom: 130px;
  &__action {
    text-align: center;
  }
  &__show-all {
    font-size: 16px;
    padding: 20px 40px 20px 40px;
    border: 1px solid #fca689;
    background-color: transparent;
    color: #fca689;

    transition: box-shadow 0.2s ease-out 0s, background-color 0.4s ease-out 0s, color 0.4s ease-out 0s;
    &:hover {
      background-color: #fca689;
      color: #ffffff;
    }
  }
}

@media all and (max-width: 767px) {
  .catalog {
    padding-bottom: 48px;
    &__show-all {
      padding: 15px 40px 15px 40px;
      margin-top: 20px;
    }
  }
}