.catalog-quick-view-slider {
  visibility: hidden;
  width: calc(~"50% - 25px");
  &__main {
    border: 1px solid #dce6f0;
    .slick-slide {
      position: relative;
      height: 408px;
      img {
        margin: 0;
        max-width: 95%;
        max-height: 95%;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      outline: none;
    }

    .slick-arrow {
      top: calc(~'100% + 52px');
      content: '';
      display: block;
      width: auto;
      height: auto;
      z-index: 5;
    }
    .slick-prev {
      left: 2px;
      &:before {
        content: url(../images/icons/bestsellers/hit-arrow_left.svg);
        display: block;
        width: 31px;
        height: auto;
      }
    }
    .slick-prev:hover {
      &:before {
        content: url('../images/icons/bestsellers/hit-arrow_left_hover.svg');
      }
    }
    .slick-next {
      right: 2px;
      &:before {
        content: url(../images/icons/bestsellers/hit-arrow_right.svg);
        display: block;
        width: 31px;
        height: auto;
      }
    }
    .slick-next:hover {
      &:before {
        content: url('../images/icons/bestsellers/hit-arrow_right_hover.svg');
      }
    }
  }

  &__sub {
    margin-top: 20px;
    padding: 0 50px;
    .slick-slide {
      position: relative;
      border: 1px solid #e9e8ef;
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 7px;
      box-sizing: border-box;
      img {
        margin: 0;
        max-width: 95%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
    .slick-current {
      border-color: #faa88c;
    }
  }
}

@media all and (max-width: 1180px) {
  .catalog-quick-view-slider {
    width: calc(~"50% - 17px");
    &__main {
      .slick-slide {
        height: 272px;
      }
      .slick-arrow {
        top: calc(~'100% + 56px');
      }
      .slick-prev {
        left: 2px;
        &:before {
          content: url(../images/icons/bestsellers/hit-arrow_left.svg);
          display: block;
          width: 20px;
          height: auto;
        }
      }
      .slick-next {
        right: 2px;
        &:before {
          content: url(../images/icons/bestsellers/hit-arrow_right.svg);
          display: block;
          width: 20px;
        }
      }
    }
    &__sub {
      padding: 0 35px;
      margin-top: 28px;
      .slick-slide {
        width: 52px;
        height: 52px;
      }
    }
  }
}