.favorites {
  padding-bottom: 130px;
  margin-top: 48px;
  .active {
    &:before {
      background: url(../images/icons/user-tools/icon-favorites-active.png) no-repeat center;
      background-size: contain;
    }
  }
}

@media all and (max-width: 767px) {
  .favorites {
    padding-bottom: 18px;
    margin-top: 36px;
  }
}
