.filter-form-m {
  display: none;
}

@media all and (max-width: 767px) {
  .filter-form-m {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 26px 0;
  }
}
