.filter-gender {
  width: 100%;
  margin-bottom: 45px;
  padding: 23px 0 26px 0;
  background-color: #f8f7fd;
  text-align: center;
  label {
    display: inline-block;
    margin: 0 60px 0 60px;
    span {
      border-bottom: 2px solid transparent;
      font-family: "Comfortaa-Regular", sans-serif;
      color: #7c7a93;
      font-size: 20px;
      vertical-align: middle;

      transition: border-color 0.2s ease-out 0s;
    }
    i {
      margin-right: 18px;
      vertical-align: middle;
      &:before {
        vertical-align: middle;
        display: inline-block;
      }
    }
    input {
      display: none;
    }
    input:checked {
      & ~ span {
        border-color: #7c7a93;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media all and (max-width: 767px) {
  .filter-gender {
    display: none;
  }
}