@media all and (max-width: 767px) {
  .filter-size-m {
    i {
      vertical-align: middle;
    }
    span {
      margin-left: 6px;
      font-family: "SFUIText-Light", sans-serif;
      font-size: 12px;
      color: #5c5a66;
      vertical-align: middle;
    }
  }
}
