.history-orders-board {
  width: calc(~"50% - 24px");
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 30px 8px rgba(244,244,247,1);
  -moz-box-shadow: 0px 0px 30px 8px rgba(244,244,247,1);
  box-shadow: 0px 0px 30px 8px rgba(244,244,247,1);
  &__head {
    padding: 25px 40px 19px 40px;
    border-bottom: 1px solid #eaeaf0;
    box-sizing: border-box;
    position: relative;
    h3 {
      display: inline-block;
      color: #aba9c3;
    }
    a {
      position: absolute;
      right: 41px;
      top: 29px;
      display: inline-block;
      i {
        display: inline-block;
      }
    }
  }
  &__body {
    display: flex;
    align-self: center;
    justify-content: center;
    min-height: 170px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    font-family: "SFUIText-Light", sans-serif;
    font-size: 17px;
    line-height: 1.45;
    text-align: center;
    .helper {
      align-self: center;
    }
    a {
      display: inline-block;
      color: #f1aa92;
      border-bottom: 2px solid #f8d4c8;
      margin-top: 5px;
      &:after {
        display: inline-block;
        content: '\f105';
        font-family: "FontAwesome", sans-serif;
        font-size: 17px;
        margin-left: 5px;
      }
      &:hover {
        border-color: transparent;
      }
    }
  }
}
