.icon-basket {
  &:before {
    content: url(../images/user-tools/basket-icon.png);
  }
}
.icon-favorites {
  &:before {
    content: url(../images/user-tools/basket-icon.png);
  }
}
.icon-profile {
  &:before {
    content: url(../images/user-tools/profile-icon.png);
  }
}


.icon-male {
  &:before {
    content: url(../images/catalog/icons/icon-male.png);
  }
}
.icon-femin {
  &:before {
    content: url(../images/catalog/icons/icon-feminine.png);
  }
}
.icon-any {
  &:before {
    content: url(../images/catalog/icons/icon-any.png);
  }
}

.icon-like {
  &:before {
    content: url(../images/catalog/icons/icon-like.png);
  }
}
