//plugins
@import (inline) "../plugins/normalize.css";
//@import (inline) "../plugins/scrollorama-master/css/style.css";

//@import "../plugins/font-awesome/less/font-awesome";
@import "../plugins/slick/slick";
@import "../plugins/slick/slick-theme";

//develops
@import "fonts";
@import "container";
@import "btn";
@import "contacts-sticky";

//header
@import "header";
@import "logo";
@import "header-nav";
@import "user-tools";

//sections
//banner
@import "banner";
@import "banner-item";

//our-goods
@import "our-goods";
@import "our-goods-item";

//whu-us
@import "whu-us";
@import "whu-us-item";

//bestsellers
@import "bestsellers";
@import "bestsellers-slider";
@import "bestsellers-slide";

//reviews
@import "reviews";
@import "review";

//accept-cookies
@import "accept-cookies";

//footer
@import "footer";
@import "footer-nav";
@import "subscription";
@import "subscription-form";
@import "delivery";
@import "payment";
@import "social";

@import "copyrighted";
@import "privacy-policy";
@import "public-offer";

//modals
@import "modals";
@import "sing-in";
@import "sing-up";
@import "restor";

.alsRubl {
  font-family: "alsRubl", sans-serif;
}

a {
    text-decoration: none;
}

a, input, select, button, textarea {
    &:hover {
        cursor: pointer;
    }
}

@-ms-viewport {
    width: auto;
}

body, html {
    -ms-overflow-style: none !important;
}
