.logo {
  width: 390px;
  margin-left: 30px;
  img {
    width: 100%;
  }
}

@media all and (max-width: 1180px) {
  .logo {
    margin: 0;
    width: 282px;
  }
}

@media all and (max-width: 767px) {
  .logo {
    display: none;
    width: 48px;
    padding: 0;
    text-align: left;

    transform: none;

    overflow: hidden;
    img {
      transform: none;
      width: 165px;
    }
  }
}
