.pagination {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  li {
    display: inline-block;
    a {
      font-family: "SFUIText-Light", sans-serif;
      color: #5c5a66;
      font-size: 14px;
    }
    &:before {
      content: "/";
      font-family: "SFUIText-Light", sans-serif;
      color: #8c8a9f;
      margin-right: 16px;
      margin-left: 10px;
      font-size: 14px;
    }
    &:first-child {
      &:before {
        content: "";
        margin: 0 0 0 -6px;
      }
    }
    &:last-child {
      a {
        color: #8c8a9f;
      }
    }
  }
}

@media all and (max-width: 1180px) {
  .pagination {
    li {
      a {
        font-size: 12px;
      }
      &:before {
        margin-right: 13px;
        margin-left: 9px;
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .pagination {
    li {
      display: none;
      &:nth-last-child(2) {
        display: inline-block;
        &:before {
          content: '\f104';
          margin: 0 6px 0 0;
          font-family: "FontAwesome", sans-serif;
          display: inline-block;
          vertical-align: middle;
        }
      }
      a {
        font-size: 12px;
      }
    }
  }
}