.pagination {
  width: 100%;
  text-align: center;
  user-select: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    &:before {
      content: "/";
      font-family: "SFUIText-Light", sans-serif;
      color: #8c8a9f;
      margin-right: 16px;
      margin-left: 10px;
      font-size: 14px;
    }
    &.active {
      a {
        color: #8c8a9f;
      }
      &:before {
        color: #8c8a9f;
      }
    }
    &:first-child {
      &:before {
        content: "";
        margin: 0 0 0 -6px;
      }
    }
  }
  a {
    font-family: "SFUIText-Light", sans-serif;
    color: #5c5a66;
    font-size: 14px;
  }
}

@media all and (max-width: 767px) {
  .pagination {
    li {
      &:before {
        margin-right: 13px;
        margin-left: 9px;
        font-size: 12px;
      }
    }
    a {
      font-size: 12px;
    }
  }
}