.catalog-det-parent {
  .sections-title {
    h2 {
      font-size: 48px;
    }
  }
}

.faq-parent {
  .sections-title {
    h2 {
      font-size: 54px;
    }
  }
}

.favorites-parent {
  .sections-title {
    h2 {
      font-size: 49px;
      letter-spacing: -0.5px;
    }
  }
}

.advantages-parent {
  .sections-title {
    h2 {
      margin: 0 0 15px 0;
    }
  }
}

@media all and (max-width: 767px) {
  .catalog-det-parent {
    .sections-title {
      h2 {
        font-size: 24px;
        line-height: 1.1;
      }
    }
  }

  .faq-parent {
    .sections-title {
      h2 {
        font-size: 24px;
        letter-spacing: normal;
        line-height: 1;
      }
    }
  }

  .favorites-parent {
    .sections-title {
      h2 {
        font-size: 23px;
        letter-spacing: 1px;
      }
    }
  }
  .photo-gallery-parent {
    .sections-title {
      h2 {
        font-size: 23px;
        letter-spacing: 0.5px;
      }
    }
  }

  .about-company-parent {
    .sections-title {
      h2 {
        margin-top: 25px;
        font-size: 23px;
        letter-spacing: 0.5px;
      }
    }
  }

  .basket-parent {
    .sections-title {
      h2 {
        margin-top: 25px;
        font-size: 23px;
        letter-spacing: 0.5px;
      }
    }
  }
  .advantages-parent {
    .sections-title {
      h2 {
        font-size: 24px;
        margin: 24px 0 0 0;
      }
    }
  }
}
