.reviews {
  position: relative;
  padding: 102px 0 132px;
  margin-top: 75px;
  text-align: center;
  background: url("../images/reviews/reviews-bg.jpg");
  &__action {
    padding: 19px 38px 18px 40px;
    border: 1px solid #fca689;
    color: #fca689;
    background-color: transparent;
    margin-top: 49px;
    font-size: 16px;
    transition: box-shadow 0.2s ease-out 0s, background-color 0.4s ease-out 0s, color 0.4s ease-out 0s;
    &:hover {
      background-color: #fca689;
      color: #ffffff;
    }
  }
  .arch {
    top: -1px;
  }
}

@media all and (min-width: 768px) and (max-width: 1180px) {
  .reviews {
    padding: 72px 0 59px;
    margin-top: 63px;
  }
}

@media all and (max-width: 1180px){
  .reviews {
    padding: 53px 0 59px;
    &__action {
      padding: 17px 33px 15px 30px;
      margin-top: 49px;
      font-size: 15px;
    }
  }
}

@media all and (max-width: 767px) {
  .reviews {
    padding: 39px 0 52px 0;
    margin-top: 39px;
    &__view {
      margin-bottom: 14px;
    }
    &__action {
      padding: 16px 21px 15px 19px;
      margin-top: 39px;
    }
    .arch {
      display: none;
    }
  }
}
