.share-this {
  white-space: nowrap;
  span {
    font-family: "SFUIText-Light", sans-serif;
    font-size: 17px;
    color: #9492a5;
    line-height: 1.4;
    vertical-align: middle;
  }
  ul {
    display: inline-block;
    margin: 0 0 0 7px;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
    }
    i {
      display: inline-block;
      &:before {
        vertical-align: middle;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .share-this {
    ul {
      margin-left: 8px;
    }
    li {
      margin: 0 4px;
    }
  }
}