.user-tools {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 24px;
    vertical-align: middle;
    user-select: none;
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    display: inline-block;
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    color: #5c5a66;
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
  i {
    display: inline-block;
    margin-right: 10px;
    &:before {
      display: inline-block;
    }
    &:last-child {
      margin-right: 0;
      margin-left: -5px;
    }
  }
  span {
    vertical-align: 2px;
  }
}

@media all and (max-width: 1180px) {
  .user-tools {
    order: -1;
    margin-right: 25px;
    li {
      margin-left: 20px;
    }
    a {
      font-size: 15px;
    }
    span {
      display: inline-block;
      vertical-align: 3px;
    }
  }
}